.yellow{
    padding: 1px;
    background-color: yellow;
    border: 1px;
    border: solid 1px;

}
form{
    padding: 20px;
}
#case{
    text-align: right;
    padding: px 20px;
}
.team{
    display: flex;
    text-align: right;
    justify-content: right;
    
    
}
#button{
    color: white;
    background-color: black;
    padding: 1px;
    border: solid 2px;
}
.page{
position: absolute;
right: 3%;
top: 5%;

}
.form{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    margin-left: 60px;
    font-size: larger;

}